extends layout

block content
  h1 Sexy Fanpage Generator
  p.lead Create a sexy and simple shrine for those that deserve it
  hr
  .row
    .col-sm-12
      h2 Start here
      p Generate your first shrine
      p
        a.btn.btn-default(href='#', role='button') Start »
