extends ../layout

block content
  .page-header
    h3 My Shrines
    
    .list-group
      a.list-group-item.active(href='#')
        h4.list-group-item-heading yay
        p.list-group-item-text hello
